[Unit]
Description=NFS mount for bigdata/serving
After=network-online.target
Wants=network-online.target
Requires=tailscaled.service
After=tailscaled.service

[Mount]
What=storage.monkey-heptatonic.ts.net:/mnt/bigdata/serving
Where=/mnt/bigdata/serving
Type=nfs
TimeoutSec=30

