# Based on the template at https://www.navidrome.org/docs/installation/linux/
[Unit]
Description=Home Assistant: self-hosted home automation
After=network.target
AssertPathExists={{ homeassistant_serving }}

[Install]
WantedBy=multi-user.target

[Service]
User=homeassistant
Group=homeassistant
Type=simple
ExecStart={{ homeassistant_serving }}/run_hass
WorkingDirectory={{ homeassistant_serving }}
TimeoutStopSec=20
KillMode=process
Restart=on-failure

# See https://www.freedesktop.org/software/systemd/man/systemd.exec.html
DevicePolicy=closed
NoNewPrivileges=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallFilter=~@clock @debug @module @mount @obsolete @reboot @setuid @swap
ReadWritePaths={{ homeassistant_serving }}

PrivateDevices=yes
ProtectSystem=strict
ProtectHome=false

